---
layout: default
title: Galeria
permalink: /galeria/
---
<div class="row no-gutters">
  <div class="col-md-12">
    <div class="blurb mt-5 margin-left">
      <h1 class="mb-3 text-uppercase font-weight-bold">{{ page.title }}</h1>
    </div>
  </div>

  <div class="margin-left margin-right">
    <h2 class="mb-3">Przejażdżki motorówką</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      {% for item in site.motorboat %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ item.position }}" class="{{ item.active }}"></li>
      {% endfor %}
    </ol>
      <div class="carousel-inner">
      {% for item in site.motorboat %}
      <div class="carousel-item {{ item.active }}">
        <img class="d-block w-100" src="/img/{{ item.file }}.jpg" alt="{{ item.alt }}">
      </div>
      {% endfor %}
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="embed-responsive embed-responsive-16by9 my-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-g23LJBwQU" allowfullscreen></iframe>
    </div>
  </div>

</div>
