<footer>
  <div class="row container-fluid text-center">
    <div class="col">
      <ul class="list-inline site-footer">
          <li class="list-inline-item">
            <a class="page-logo" href="{{ "/" | relative_url }}">
              <img src="/assets/dresoowka-logo.svg" alt="dresoowka-logo" class="page-logo hover-svg">
            </a>
          </li>
          {% for item in site.nav %}
          <li class="list-inline-item">
            <a class="nav-link hover-links" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
          </li>
          {% endfor %}
          <li class="list-inline-item">
            <small class="d-block">&copy {{ site.copyrights }}</small>
          </li>
          <li class="list-inline-item">
            <small class="d-block">Projekt i wykonanie: <a href="{{ site.authors-external-url }}" class="hover-links">{{ site.authors }}</a></small>
          </li>
      </ul>
    </div>
  </div>
  <div class="row container-fluid text-center">
    <div class="col-md-4 mt-3">
      <img src="/assets/fundusze-euro.svg" alt="" class="svg-color">
    </div>
    <div class="col-md-4 mt-3">
      <img src="/assets/slaskie.svg" alt="" class="svg-color">
    </div>
    <div class="col-md-4 mt-3">
      <img src="/assets/unia.svg" alt="" class="svg-color">
    </div>
  </div>
</footer>
