{% include svg-filters.html %}
<div class="hero-content">
  <div class="row no-gutters">
    <div class="col-md-8">
      <a href="wakeboard" id="wakeboard" class="hero-item">
        <div class="hero-title">
          <h2>Wakeboard</h2>
          <h6>Opis</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="water-ski" id="water-ski" class="hero-item">
        <div class="hero-title">
          <h2>Narty wodne</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/caleb-vandenheuvel-407861-unsplash.jpg')">
        </div>
      </a>
      <a href="tubbing" id="tubbing" class="hero-item">
        <div class="hero-title">
          <h2>Koło</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/33944106_2116176085327162_1685665829208719360_o.jpg')">
        </div>
      </a>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-6">
      <a href="banan" id="banana" class="hero-item">
        <div class="hero-title">
          <h2>Banan</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/IMG_20150801_121529.jpg')">
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" id="motorboat" class="hero-item">
        <div class="hero-title">
          <h2>Przejażdżki motorowką</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/kolo11.jpg')">
        </div>
      </a>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-6">
      <a href="banan" id="banana" class="hero-item">
        <div class="hero-title">
          <h2>title</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="motorboat" id="motorboat" class="hero-item">
        <div class="hero-title">
          <h2>title</h2>
          <h6>desc</h6>
        </div>
        <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
        </div>
      </a>
    </div>
  </div>
</div>
