<div class="row container-flex mx-3">
  <div class="col">
    <h2>Zobacz koniecznie</h2>
  </div>
</div>
<div class="row container-flex mx-3">
  {% for item in site.disciplines %}
  <div class="col-md-6 my-3">
    <a href="{{ item.permalink }}" class="hero-item hero-teaser">
      <div class="hero-title">
        <h2>{{ item.name }}</h2>
        <h6>{{ item.short-desc }}</h6>
      </div>
      <div class="hero-img" style="background-image: url('{{ item.thumbnail }}')">
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% include svg-filters.html %}
