<div class="row container-flex mx-3">
  <div class="col">
    <h2>Zobacz koniecznie</h2>
  </div>
</div>
<div class="row container-flex mx-3">
  <div class="col-md-6 my-3">
    <a href="#" class="hero-item hero-teaser">
      <div class="hero-title">
        <h2>Wakeboard</h2>
        <h6>Jazda na desce za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
      </div>
    </a>
  </div>
  <div class="col-md-6 my-3">
    <a href="#" class="hero-item hero-teaser">
      <div class="hero-title">
        <h2>Wakeboard</h2>
        <h6>Jazda na desce za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
      </div>
    </a>
  </div>

  <div class="col-md-6 my-3">
    <a href="#" class="hero-item hero-teaser">
      <div class="hero-title">
        <h2>Wakeboard</h2>
        <h6>Jazda na desce za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
      </div>
    </a>
  </div>
</div>
{% include svg-filters.html %}
