<div class="col">
  <h1 id="tubbing" class="mb-3">Koło</h1>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
        Koło jest jednym z rodzajów aktywności rekreacyjnej na wodzie, która polega na ciągnięciu za motorówką lekkich obiektów o różnym kształcie wypełnionych powietrzem (z ang. tubing). Może to być koło, banan, pocisk, kanapa i inne. Dzięki niewielkiej wadze koło nabiera dużej prędkości i dostarcza niezapomnianych wrażeń. Świetna zabawa gwarantowana! Jazda odbywa się oczywiście w kamizelkach asekuracyjnych. Posiadamy dwuosobowe koło firmy Yamaha oraz oczywiście motorówkę, która je holuje z odpowiednią prędkością. Osoba holująca posiada wszystkie potrzebne uprawnienia: patent sternika motorowodnego oraz licencję do holowania narciarza wodnego lub innych obiektów pływających wydane przez Polski Związek Motorowodny i Narciarstwa Wodnego.
      </p>
    </div>
    <div class="col-md-6 col-xs-12">

      {% include lightbox-controls.html %}
        <div class="lightbox-gallery">
          <div class="row no-gutters">
          {% for item in site.motorboat %}
          <figure class="img-container col-md-4 col-xs-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/{{ item.file }}" data-size="1080x720" itemprop="contentUrl">
              <img src="/img/{{ item.file }}" alt="{{ item.alt }}" class="image" itemprop="thumbnail">
              <div class="img-overlay">
                <span class="img-caption">{{ item.caption }}</span>
              </div>
            </a>
            <figcaption itemprop="caption description">{{ item.caption }}</figcaption>
          </figure>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
