<h2 id="wakeboard" class="mb-3">Wakeboard</h2>
<p>
  Wakeboard to sport wodny, który powstał z połączenia nart wodnych, surfingu i snowboardingu. Polega na płynięciu na powierzchni wody na desce, która ciągniona jest za motorówką lub za pomocą wyciągu. W miarę postępów wakeboardzista uczy się nowych trików.
  <br> Obecnie jest to jedna z najciekawszych dyscyplin wodnych. Posiadamy sprzęt, który pozwala na holowanie wake`a za motorówką. Udostępniamy kask i kamizelkę asekuracyjną oraz deskę z wiązaniami. Osoba holująca posiada wszystkie potrzebne uprawnienia:
  patent sternika motorowodnego oraz licencję do holowania narciarza wodnego lub innych obiektów pływających wydane przez Polski Związek Motorowodny i Narciarstwa Wodnego.
</p>
<div class="embed-responsive embed-responsive-16by9 my-3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-g23LJBwQU" allowfullscreen></iframe>
</div>
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for item in site.motorboat %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ item.position }}" class="{{ item.active }}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in site.motorboat %}
    <div class="carousel-item {{ item.active }}">
      <img class="d-block w-100" src="/img/{{ item.file }}.jpg" alt="{{ item.alt }}">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->
