<div class="col">
  <h2 id="wakeboard" class="mb-3">Wakeboard</h2>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
        Wakeboard to sport wodny, który powstał z połączenia nart wodnych, surfingu i snowboardingu. Polega na płynięciu na powierzchni wody na desce, która ciągniona jest za motorówką lub za pomocą wyciągu. W miarę postępów wakeboardzista uczy się nowych trików.
        <br> Obecnie jest to jedna z najciekawszych dyscyplin wodnych. Posiadamy sprzęt, który pozwala na holowanie wake`a za motorówką. Udostępniamy kask i kamizelkę asekuracyjną oraz deskę z wiązaniami. Osoba holująca posiada wszystkie potrzebne uprawnienia:
        patent sternika motorowodnego oraz licencję do holowania narciarza wodnego lub innych obiektów pływających wydane przez Polski Związek Motorowodny i Narciarstwa Wodnego.
      </p>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9 my-3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-g23LJBwQU" allowfullscreen></iframe>
      </div>
      <!-- {% for item in site.motorboat %}
      <div class="col">
        <a href="/img/{{ item.file }}.jpg" data-lightbox="example-set" data-title="{{ site.lightbox-tip }}">
          <img src="/img/{{ item.file }}.jpg" alt="">
        </a>
      </div>
      {% endfor %} -->
    </div>
  </div>
</div>
