<h2 id="waterski" class="mb-3">Narty wodne</h2>
<p>
  Narciarstwo wodne to dyscyplina sportowa, która polega na jeździe na nartach (lub jednej narcie) za holującą narciarza motorówką. Dzięki dużej prędkości narty utrzymują się na powierzchni wody, a narciarz może cieszyć się z frajdy jazdy. Udostępniamy kask i kamizelkę asekuracyjną oraz narty z wiązaniami. Osoba holująca posiada wszystkie potrzebne uprawnienia: patent sternika motorowodnego oraz licencję do holowania narciarza wodnego lub innych obiektów pływających wydane przez Polski Związek Motorowodny i Narciarstwa Wodnego.
</p>
