<div class="row no-gutter">
  <div class="col-md-12">
    <div class="blurb mt-5 text-center">
      <h1 class="mb-3 text-uppercase font-weight-bold">Klub Sportowy Wyblinka</h1>
      <h5 class="pt-2 pb-2">Przy szkole działa Klub Sportowy Wyblinka. Klub ma na celu propagowanie żeglarstwa poprzez prowadzenie kursów żeglarskich oraz zajęć szkoleniowych dla dzieci i młodzieży. Klub działa w formie stowarzyszenia. Członkowie Klubu mogą brać udział w szkoleniach i imprezach na preferencyjnych warunkach. Klub znajduje się w fazie rozwoju:) Szczegółowe informacje na temat planowanych zajęć/obozów/półkolonii będziemy zamieszczać na tej stronie.</h5>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-4">
    <a href="water-ski" id="sail-courses" class="hero-item">
      <div class="hero-title">
        <h2>Kursy żeglarskie</h2>
        <h6>desc</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/caleb-vandenheuvel-407861-unsplash.jpg')">
      </div>
    </a>
    <a href="tubbing" id="sailing" class="hero-item">
      <div class="hero-title">
        <h2>Regaty 2018</h2>
        <h6>desc</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/33944106_2116176085327162_1685665829208719360_o.jpg')">
      </div>
    </a>
  </div>
  <div class="col-md-8">
    <a href="wakeboard" id="sailing-archive" class="hero-item">
      <div class="hero-title">
        <h2>Regaty archiwum</h2>
        <h6>Opis</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
      </div>
    </a>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-6">
    <a href="banan" id="banana" class="hero-item">
      <div class="hero-title">
        <h2>Rejsy morskie</h2>
        <h6>desc</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/IMG_20150801_121529.jpg')">
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <a href="#" id="motorboat" class="hero-item">
      <div class="hero-title">
        <h2>Zapisy na kurs</h2>
        <h6>desc</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/kolo11.jpg')">
      </div>
    </a>
  </div>
</div>
