<div class="row no-gutters">
  <div class="col-md-8">
    <a href="wakeboard" id="hero-01" class="hero-item">
      <div class="hero-title">
        <h2>Wakeboard</h2>
        <h6>Jazda na desce za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/images/uploads/wakeboard_roznowskie-.jpg')">
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="narty-wodne" id="hero-02" class="hero-item">
      <div class="hero-title">
        <h2>Narty wodne</h2>
        <h6>Dwie deski za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/waterski-405785_1920.jpg')">
      </div>
    </a>
    <a href="http://szwyblinka.pl/" id="hero-03" class="hero-item">
      <div class="hero-title">
        <h2>Żagle</h2>
        <h6>Kursy | Regaty | Rejsy</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/IMG_6786.jpg')">
      </div>
    </a>
  </div>

</div>
<div class="row no-gutters">
  <div class="col-md-6">
    <a href="kolo" id="hero-04" class="hero-item">
      <div class="hero-title">
        <h2>Koło</h2>
        <h6>Ślizg po wodzie na dmuchanym kole</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/33944106_2116176085327162_1685665829208719360_o.jpg')">
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a href="motorowka" id="hero-05" class="hero-item">
      <div class="hero-title">
        <h2>Motorówka</h2>
        <h6>Rekreacyjna przejażdżka po jeziorze</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/motorowka-P5311379.jpg')">
      </div>
    </a>
  </div>

</div>
