<div class="row no-gutters">
  <div class="col-md-8">
    <a href="galeria" id="hero-01" class="hero-item">
      <div class="hero-title">
        <h2>Wakeboard</h2>
        <h6>Jazda na desce za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/steven-welch-124749-unsplash.jpg')">
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="{{ url }}/galeria#waterski" id="hero-02" class="hero-item">
      <div class="hero-title">
        <h2>Narty wodne</h2>
        <h6>Dwie deski za motorówką</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/mexico-88768_1920.jpg')">
      </div>
    </a>
    <a href="{{ url }}/galeria#sup" id="hero-03" class="hero-item">
      <div class="hero-title">
        <h2>SUP</h2>
        <h6>Pływanie na desce z wiosłem</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/ben-white-131242-unsplash.jpg')">
      </div>
    </a>
  </div>

</div>
<div class="row no-gutters">
  <div class="col-md-6">
    <a href="{{ url }}/galeria#tubbing" id="hero-04" class="hero-item">
      <div class="hero-title">
        <h2>Koło</h2>
        <h6>Ślizg po wodzie na dmuchanym kole</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/33944106_2116176085327162_1685665829208719360_o.jpg')">
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a href="{{ url }}/galeria#moto" id="hero-05" class="hero-item">
      <div class="hero-title">
        <h2>Przejażdżki
          <br>
          motorowką</h2>
        <h6>Rekreacyjna przejażdżka po jeziorze</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/kolo11.jpg')">
      </div>
    </a>
  </div>

</div>
<div class="row no-gutters">
  <div class="col-md-12">
    <a href="http://szwyblinka.pl/" id="hero-06" class="hero-item">
      <div class="hero-title">
        <h2>Żagle</h2>
        <h6>Kursy na patent żeglarza jachtowego | regaty | rejsy</h6>
      </div>
      <div class="hero-img" style="background-image: url('/img/IMG_6776.jpg')">
      </div>
    </a>
  </div>
</div>
