@charset "utf-8";

$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$monitor: 2560px;

$yellow: #ffd909;
$orange: #ff8a48;
$red: #ff5f6a;
$purple: #c23cb2;
$light: #f4f3f1;
$dark: #2b2b2b;
$text: slategray;

$base-font-size: 0.75rem;
$base-line-height: 1.75;
$header-line-height: 1.25;
$base-spacing: $base-font-size;
$base-font-family: 'Ubuntu', sans-serif;
$base-font-weight: 400;
$text-color: $text;
$background-color: white;
$brand-color: $red;

@import
  "style/base",
  "style/layout",
  "style/syntax-highlighting",
  "style/lightbox",
  "style/social-sidebar",
  "style/svg-filters",
  "style/wave-menu"
;
