.hero-item {
  position: relative;
}

.blurb {
  margin-bottom: $base-spacing*4;
  color: $dark;
   h5 {
     color: $text-color;
   }
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: inherit;
  height: inherit;

  &:hover {
    box-shadow: 10px 10px 0 $dark;
    transition: all $animation ease;
  }
}

.hero-title {
  position: absolute;
  top: 50%;
  transform: translate(0%, 80%);
  z-index: 1410;
}

.hero-title h2 {
  background-color: $dark;
  padding: $base-spacing;
  color: white;
  width: fit-content;
  width: -moz-fit-content;
}

.hero-title h6 {
  padding: $base-spacing/2;
  color: white;
  width: fit-content;
  width: -moz-fit-content;
}

#hero-01 {
  height: 53vh;
  .hero-img {
    margin-top: $base-spacing*2;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing*2;
    &:hover {
      filter: url('#red-blue');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 160%);
    left: $base-spacing*2;
    h6 {
      background-color: $red;
    }
    @media (max-width: $tablet) {
      left: $base-spacing;
    }
  }
}
#hero-02 {
  height: 25vh;
  .hero-img {
    margin-top: $base-spacing*2;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing*2;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#yellow-orange');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 60%);
    left: $base-spacing;
    h6 {
      background-color: $orange;
    }
  }
}
#hero-03 {
  height: 25vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#green-blue');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 40%);
    left: $base-spacing;
    h6 {
      background-color: $green;
    }
  }
}
#hero-04 {
  height: 35vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing*2;
    &:hover {
      filter: url('#yellow-pink');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 100%);
    left: $base-spacing*2;
    h6 {
      background-color: $navy;
    }
    @media (max-width: $tablet) {
      left: $base-spacing;
    }
  }
}
#hero-05 {
  height: 35vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#blue-aqua');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 50%);
    left: $base-spacing;
    h6 {
      background-color: $purple;
    }
  }
}
#hero-06 {
  height: 53vh;
  .hero-img {
    margin-top: $base-spacing*2;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing*2;
    margin-left: $base-spacing*2;
    &:hover {
      filter: url('#yellow-orange');
    }
    @media (max-width: $tablet) {
      margin: $base-spacing;
    }
  }
  .hero-title {
    transform: translate(0%, 180%);
    left: $base-spacing*2;
    h6 {
      background-color: $orange;
    }
    @media (max-width: $tablet) {
      left: $base-spacing;
    }
  }
}

.hero-teaser {
  height: 35vh;
  .hero-img {
    // margin-top: $base-spacing;
    // margin-right: $base-spacing;
    // margin-bottom: $base-spacing;
    // margin-left: $base-spacing*2;
    &:hover {
      filter: url('#yellow-pink');
    }
    // @media (max-width: $tablet) {
    //   margin: $base-spacing;
    // }
  }
  .hero-title {
    transform: translate(0%, 80%);
    // left: $base-spacing*2;
    left: 0;
    h6 {
      background-color: $red;
    }
    @media (max-width: $tablet) {
      // left: $base-spacing;
    }
  }
}
