.hero-content {
}

.hero-item {
  position: relative;
}

.blurb {
  // margin-left: $base-spacing*2;
  // margin-right: $base-spacing*2;
  margin-bottom: $base-spacing*4;
  color: $dark;
   h5 {
     color: $text-color;
   }
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: inherit;
  height: inherit;

  &:hover {
    box-shadow: 10px 10px 0 $dark;
    transition: all $animation ease;
  }
}

.hero-title {
  position: absolute;
  top: 50%;
  transform: translate(0%, 80%);
  z-index: 2001;
}

.hero-title h2 {
  background-color: $dark;
  padding: $base-spacing;
  color: white;
}

.hero-title h6 {
  padding: $base-spacing;
  color: white;
  width: fit-content;
}

#wakeboard {
  height: 53vh;
  .hero-img {
    margin-top: $base-spacing*2;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing*2;
    &:hover {
      filter: url('#red-blue');
    }
  }
  .hero-title {
    transform: translate(0%, 160%);
    left: $base-spacing*2;
    h6 {
      background-color: $red;
    }
  }
}
#water-ski {
  height: 25vh;
  .hero-img {
    margin-top: $base-spacing*2;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing*2;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#yellow-orange');
    }
  }
  .hero-title {
    transform: translate(0%, 60%);
    left: $base-spacing;
    h6 {
      background-color: $orange;
    }
  }
}
#tubbing {
  height: 25vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#green-blue');
    }
  }
  .hero-title {
    transform: translate(0%, 40%);
    left: $base-spacing;
    h6 {
      background-color: #4db6ac;
    }
  }
}
#banana {
  height: 35vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing*2;
    &:hover {
      filter: url('#yellow-pink');
    }
  }
  .hero-title {
    transform: translate(0%, 100%);
    left: $base-spacing*2;
    h6 {
      background-color: $yellow;
    }
  }
}
#motorboat {
  height: 35vh;
  .hero-img {
    margin-top: $base-spacing;
    margin-right: $base-spacing*2;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
    &:hover {
      filter: url('#blue-aqua');
    }
  }
  .hero-title {
    transform: translate(0%, 100%);
    left: $base-spacing;
    h6 {
      background-color: aqua;
    }
  }
}
