.nav {
  @media (max-width: $laptop) {
    display: block;
    text-align: center;
  }
}

.navbar {
  @media (min-width: $monitor) {
    padding-left: 18%;
  }
}

header .nav-link {
  text-shadow: 0 2px white;
  text-transform: uppercase;
}

.hover-links:hover {
  color: $brand-color !important;
  // text-shadow: 0px 1px 2px whitesmoke, 0 0 1em $brand-color, 0 0 0.1em $brand-color;
  text-decoration: none !important;
}

.hover-svg:hover {
  filter: drop-shadow(0px 0px 1px $text-color) !important;
}

.svg-color {
  -webkit-filter: invert(60%);
  filter: invert(60%);
}

.page-logo {
  width: 30px;
}

.site-footer {
  @media (max-width: $laptop) {
    display: inline-grid;
  }
}

aside {
  background-color: $dark;
  height: 100%;
  min-height: 100vh;
}

.side-logo {
  display: table;
  padding: $base-spacing*2;
  margin-left: auto;
  margin-right: auto;
  max-width: 15vw;
  @media (max-width: $laptop) {
    padding: $base-spacing;
  }
}

.sidebar-container {
  // width: 20vw;
  // height: 100%;
}

.margin-left {
  margin-left: $base-spacing*2;
}
.margin-right {
  margin-right: $base-spacing*2;
}

.card {
  border-radius: 0;
  border: none;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-title {
  background-color: $orange;
  color: white;
  // display: inline-block;
  padding: $base-spacing;
  margin-bottom: 0;
}

.card-text {
  background-color: $dark;
  padding: $base-spacing;
  display: inline-block;
  color: white;
}

.card-button {
  border-color: $orange;
  border-radius: 0;
  color: $orange;
  text-transform: uppercase;
  &:visited {
    color: $orange;
  }
  &:hover {
    color: darken($orange, 10);
  }
}


.text-link {
  color: $brand-color;
}
.text-link:hover {
  color: darken($brand-color, 10);
}

.carousel-inner {
  // height: 75vh;
}

.map {
  height: 50vh;
  width: 100vw;
}



////////////


.lightbox-gallery {
  width: 100%;
  float: left;
}
.lightbox-gallery img {
  width: 100%;
  // height: auto;
  min-height: 100%;
  object-fit: cover;
}
.lightbox-gallery figure {
  display: block;
  float: left;
  // margin: 0 5px 5px 0;
  width: auto;
  // width: 150px;
}
.lightbox-gallery figcaption {
  display: none;
}


//////////////

.img-container {
  position: relative;
  // width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  // object-fit: contain;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $brand-color;
}

.img-container:hover .img-overlay {
  opacity: .75;
}

.img-caption {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
