---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <wrapper class="d-flex flex-column">
      <div class="row mr-0 no-gutters container-flex" style="overflow-x: hidden;">
        <div class="col-2">
          {% include menu-sidebar.html %}
        </div>
        <div class="col-10">
          {% include hero.html %}
        </div>
      </div>
      <main class="d-flex justify-content-between">

      </main>
      <!-- {{ content }} -->
    </wrapper>
    {% include scripts.html %}
  </body>
</html>
